<manifest package="com.appswithlove.updraft"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.appswithlove.updraft.feedback.FeedbackActivity"
            android:theme="@style/Theme.Transparent" />
    </application>
</manifest>
